{% extends "base.html" %}
{% load scheduletags %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
      {% for organization in org_list %}
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Paris')">{{ organization.country.name }}</button>
        </div>
      {% endfor %}
        <div><a href="{% url 'rf' %}"><button>List</button></a></div>
     <div class="tabcontent" id="Paris" >
       <div style="display:none;">{% include 'project/list.html' %}</div>
       <div id="calendar">
           {% for project in project_list %}
           {{ project }}
           {% endfor %}
       </div>
     </div>
    </div>

</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>
{% endblock %}