{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block content %}

<div align="center" class="mt-2">
     <form action="" method="post">
       {% csrf_token %}

       <table class="table table-bordered">
            <thead class="table-primary">
                {% for comment in object_list %}
                 <th>{{ comment.department }}</th>
                {% endfor %}
            </thead>
           <tbody>
		   {{ form | crispy }}
		   </tbody>
	   </table>
	 </form>

</div>

{% endblock %}