{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block content %}
<div align="right">
    <a href="{% url 'df' %}"><button type="submit" class="btn btn-primary text-white">Create Log</button></a>
</div>

<form action="" method="post">
       {% csrf_token %}
<div align="center" class="mt-2" >
<table class="table">
    <thead>
        <tr class="table-primary">
            <th> Created At </th>  <th> Author </th>  <th> Department </th>  <th> Details of Comments </th>  <th></th>  <th></th>
        </tr>
    </thead>
    {% for comment in object_list %}
    <tbody>
        <tr class="table-success">
            <td> {{ comment.created_at }} </td>  <td> {{ comment.username}} </td>  <td> {{ comment.department}} </td>  <td> {{comment.additional_comments}} </td>         </tr>
    </tbody>
    {% empty %}
    <ul><li>No Log has been saved</li></ul>
    {% endfor %}

</table>
</div>
</form>

{% endblock %}