{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Paris')">Show of the Week</button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">Awardees</button>
          <button class="tablinks" onclick="openCity(event, 'Japan')">Team Collaboration of the Month</button>
        </div>

        <div id="Paris" class="tabcontent">

        <div class="card bg-white">
  <div class="card-body">
      <div align="left">
          <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" style="margin-top:15px;" aria-label="Search">
        </form>
      </div>
      <div align="right">
        <a href="{% url 'sow' %}"><button type="submit" class="btn btn-primary text-white" style="height:40px; margin-left:10px;">Create</button></a>
      </div>
      <form action="" method="post">
       {% csrf_token %}
<div align="center" class="mt-2" >
<table class="table text-white">
    <thead>
        <tr class="table-white">

        </tr>
        <tr class="table-white">
            <th></th><th>Show Title</th>  <th>Showing Time</th> <th>Image</th><th></th>
        </tr>
    </thead>
    {% for showoftheweek in sotw_list %}
    <tbody>
        <td></td> <td>{{showoftheweek.show_title }}</td><td>{{showoftheweek.showing_time}}</td><td><img src="media/{{  showoftheweek.photo.url }}" style=" height: 30px;"></td>
    </tbody>
    {% endfor %}
</table>
</div>
</form>
  </div>
</div>
        </div>
        <div id="Tokyo" class="tabcontent">
            <div class="card bg-white">
  <div class="card-body">
      <div align="left">
          <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" style="margin-top:15px;" aria-label="Search">
        </form>
      </div>
      <div align="right">
        <a href="{% url 'aw' %}"><button type="submit" class="btn btn-primary text-white" style="height:50px; margin-left:10px;">Create</button></a>
      </div>
      <form action="" method="post">
       {% csrf_token %}
<div align="center" class="mt-2" >
<table class="table text-white">
    <thead>
        <tr class="table-white">

        </tr>
        <tr class="table-white">
            <th></th><th>Name(s)</th>  <th>Commendation</th> <th>Image</th>
        </tr>
    </thead>
    {% for awardees in awards_list %}
    <tbody>
        <td></td> <td>{{awardees.name }}</td><td>{{awardees.description}}</td> <td>{{awardees.photo}}</td>
    </tbody>
    {% endfor %}
</table>
</div>
</form>
  </div>
</div>

        </div>
        <div id="Japan" class="tabcontent">
            <div class="card bg-white">
  <div class="card-body">
      <div align="left">
          <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" style="margin-top:15px;" aria-label="Search">
        </form>
      </div>
      <div align="right">
        <a href="{% url 'tcfif' %}"><button type="submit" class="btn btn-primary text-white" style="height:50px; margin-left:10px;">Create</button></a>
      </div>
      <form action="" method="post">
       {% csrf_token %}
<div align="center" class="mt-2" >
<table class="table text-white">
    <thead>
        <tr class="table-white">

        </tr>
        <tr class="table-white">
            <th></th><th>Team Member 1</th>  <th>Image</th> <th>Team Member 2</th> <th>Image</th> <th>Commendation</th>
        </tr>
    </thead>
    {% for teamcollaboration in tc_list %}
    <tbody>
        <td></td> <td>{{teamcollaboration.full_name_1 }}</td> <td>{{teamcollaboration.image_1}}</td> <td>{{teamcollaboration.full_name_2}}</td>  <td>{{teamcollaboration.image_2}}</td> <td>{{teamcollaboration.commendation}}</td>
    </tbody>
    {% endfor %}
</table>
</div>
</form>
  </div>
</div>

        </div>
    </div>
</div>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

{% endblock %}