<div class="card bg-white">
  <div class="card-body">
      <div align="left">
          <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" style="margin-top:15px;" aria-label="Search">
        </form>
      </div>
      <div align="right">
        <a href="{% url 'hom' %}"><button type="submit" class="btn btn-primary text-white" style="height:50px; margin-left:10px;">Create</button></a>
      </div>
      <form action="" method="post">
       {% csrf_token %}
<div align="center" class="mt-2" >
<table class="table text-white">
    <thead>
        <tr class="table-white">

        </tr>
        <tr class="table-white">
            <th></th><th>Name(s)</th>  <th>Commendation</th> <th>Image</th>
        </tr>
    </thead>
    {% for awardees in object_list %}
    <tbody>
        <td></td> <td>{{awardees.name }}</td><td>{{awardees.description}}</td> <td>{{awardees.photo}}</td>
    </tbody>
    {% endfor %}
</table>
</div>
</form>
  </div>
</div>