{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<div class="page-header navbar navbar-fixed-top" id="ok">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <div >
                        <a href="/">
                            <img style="" height="40px;" width="150px;" src="{% static 'img/m.jpeg' %}" alt="logo" class="logo-default" /> </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fas fa-bookmark" aria-hidden="true"></i>
                                    <span class="username username-hide-on-mobile"> Bookings </span>
                                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{% url 'kk' %}">
                                            <i class="icon-user"></i> Book Boardroom </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'ssl' %}">
                                            <i class="icon-rocket"></i>Book a Studio
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg" />
                                    <span class="username username-hide-on-mobile"> Support </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{% url 'sl' %}">
                                            <i class="icon-user"></i> Request Item from store </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'if' %}">
                                            <i class="icon-rocket"></i>Report Tech Problem
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg" />
                                    <span class="username username-hide-on-mobile"> {{ user.first_name}} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{% url 'p' %}">
                                           <i class="fa fa-info" aria-hidden="true"></i>My Profile </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'password_change' %}">
                                            <i class="icon-rocket"></i>Change My Password
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="{% url 'logout' %}">
                                            <i class="fas fa-sign-in" aria-hidden="true"></i> Sign Out </a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="dropdown dropdown-user">
                                <a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a>
                            </li>
                            {% endif %}
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    {% block sidebar %}
                    <div class="page-sidebar navbar-collapse collapse">
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200" style="background-color: #202643; padding-top: 20px;height: 100%; background-color: #202643;  width: 235px;">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/" class="nav-link nav-toggle">
                                    <i class="fas fa-home"></i>
                                    <span class="title">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'ho' %}" class="nav-link nav-toggle">
                                    <i class="fas fa-pencil-square-o" aria-hidden="true"></i>
                                    <span class="title">Communication</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'l' %}" class="nav-link nav-toggle">
                                   <i class="fas fa-hashtag" aria-hidden="true"></i>
                                    <span class="title">Awards</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'ind' %}" class="nav-link nav-toggle">
                                    <i class="fas fa-tasks" aria-hidden="true"></i>
                                    <span class="title">Roster</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fas fa-calendar" aria-hidden="true"></i>
                                    <span class="title">Scheduling</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'sl2' %}" class="nav-link nav-toggle">
                                    <i class="fas fa-archive" aria-hidden="true"></i>
                                    <span class="title">Store Manager</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'doc' %}" class="nav-link nav-toggle">
                                    <i class="fas fa-file-text" aria-hidden="true"></i>
                                    <span class="title">Docs</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fas fa-inbox" aria-hidden="true"></i>
                                    <span class="title">Issues</span>
                                    <span class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item start active open">
                                        <a href="{% url 'il2' %}" class="nav-link ">
                                           <i class="fas fa-bug" aria-hidden="true"></i>
                                            <span class="title">Raised Issues</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item start ">
                                        <a href="{% url 'il' %}" class="nav-link ">
                                            <i class="fas fa-asterisk" aria-hidden="true"></i>
                                            <span class="title">All Issues</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'dl' %}" class="nav-link nav-toggle">
                                    <i class="fas fa-calendar-o" aria-hidden="true"></i>
                                    <span class="title">Reports</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'calendar_list' %}" class="nav-link nav-toggle">
                                    <i class="fas fa-database" aria-hidden="true"></i>
                                    <span class="title">Content Calendar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fas fa-briefcase" aria-hidden="true"></i>
                                    <span class="title">Logistics</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item start active open">
                                        <a href="{% url 'v' %}" class="nav-link ">
                                            <i class="fas fa-car" aria-hidden="true"></i>
                                            <span class="title">Vehicle Manager</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item start ">
                                        <a href="{% url 'tr' %}" class="nav-link ">
                                            <i class="fas fa-sticky-note" aria-hidden="true"></i>
                                            <span class="title">Trip Logger</span>
                                        </a>
                                    </li>
                                    <li class="nav-item start ">
                                        <a href="{% url 'mt' %}" class="nav-link ">
                                            <i class="fas fa-line-chart" aria-hidden="true"></i>
                                            <span class="title">Mileage Tracker</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% if user.is_staff %}
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fas fa-user-plus" aria-hidden="true"></i>
                                    <span class="title">Administration</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item start active open">
                                        <a href="{% url 'dept' %}" class="nav-link ">
                                            <i class="fas fa-id-badge" aria-hidden="true"></i>
                                            <span class="title">Manage Departments</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item start ">
                                        <a href="{% url 'us' %}" class="nav-link ">
                                            <i class="fas fa-user-o" aria-hidden="true"></i>
                                            <span class="title">Manage User Accounts</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'indexf' %}" class="nav-link nav-toggle">
                                    <i class="fas fa-bar-chart" aria-hidden="true"></i>
                                    <span class="title">Analytics</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- END SIDEBAR MENU -->
                        <!-- END SIDEBAR MENU -->
                    </div>
                    {% endblock %}
                    <!-- END SIDEBAR -->
                </div>

                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content" style="background-color:#555d89;">
                        {% block content %}
                        {% endblock %}

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div>